/* CSS Reset */
* {
    margin: 0;
    padding: 0;
} 
html{
    scroll-behavior: smooth;
}


/* Navigation bar  */
#navbar {
    display: flex;
    align-items: center;
    position: relative;
    /* position: absolute; */
    top: 0px;
}

#navbar::before {
    content: "";
    /* background-color: #0e2b3c; */
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}


/* Logo and Image  */


#logo img {
    margin: 5px 10px;
    height: 45px;
    width: 55px;
    border-radius: 13px;
}

/* Navigation Bar : List Styling  */

#navbar ul {
    display: flex;
}


#navbar ul li {

    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: white;
    display: block;
    padding: 5px 20px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: black;
    background-color: white;
}

#navbar.sticky{
    position: sticky;
    top: 0;
}
/* Home Section  */

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 680px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('bg3.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: #45687c;
    text-align: center;
}

#home p {
    color: black;
    text-align: center;
    font-size: 1.4rem;
    margin: 7px 0px;

}

/* Services Section  */
#services {
    margin: 34px;
    display: flex;

}

#services .box {
    border: 2px solid #45687c;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 23px;
    background-color: #caedff6e;

}

#services .box img {
    height: 250px;
    margin: auto;
    display: block;
    border-radius: 70px;
}

#services .box p {
    font-family:system-ui;
}

/* Client Section  */
#client-section{

}

/* Utility Classes  */
.h-primary {
    font-size: 3.2rem;
    padding: 40px;
}

.h-secondary {
    font-size: 2.2rem;
    padding: 20px;
    font-family: sans-serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: #45687c;
    color: white;
    border-radius: 13px;
    margin-top: 87px
}

.btn:hover {
    background-color: #36586c;
    cursor: pointer;
}

.center {
    text-align: center;
}
